:root {
    --main-color: #CCE4C3;
    --sub-color: forestgreen;
    --another-color: #f0ebc8;
    --max-content-width: 1012px;
    --max-content-height: 594px;
    --border-solid-one: 1px solid black;
}