:root {
    --main-color: #CCE4C3;
    --sub-color: forestgreen;
    --another-color: #f0ebc8;
    --max-content-width: 1012px;
    --max-content-height: 594px;


    /*글꼴*/
    --font-family: 'Noto Sans KR', sans-serif;
    --font-optical-sizing: auto;
    --font-weight-normal: 200;
    --font-style: normal;
}

