<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <title></title>
    <th:block th:replace="fragments/metaFragment :: metadataFragment"></th:block>
</head>
<body>
<!-- Top menu 영역-->
<header th:replace="fragments/headerFragment::headerFragment"></header>
<!-- Left Sidebar 영역 -->
<div th:replace="fragments/leftSidebarFragments::leftSidebarFragments"></div>
<!-- Main content 영역 -->

<div class="container mt-4">
    <div class="main-content-style">
        <h1>메인</h1>
        <p>메인 컨텐츠 영역</p>
    </div>
</div>

<!--footer 영역-->
<footer th:replace="fragments/footerFragment::footerFragment"></footer>

<!--bootstrap javascript-->

</body>
</html>