<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <title>톡톡유치원 - 자녀 정보</title>
    <th:block th:replace="fragments/metaFragment :: metadataFragment"></th:block>
    <link rel="stylesheet" th:href="@{/css/child/childInfo.css}">
</head>
<body>
<!-- Top menu 영역-->
<header th:replace="fragments/headerFragment::headerFragment"></header>
<!-- Left Sidebar 영역 -->
<!-- Main content 영역 -->

<div class="container mt-4 main_container">
    <!--유치원 원장은 스킵할지 안 할지 고민-->
    <section class="user_section">
        <div class="user_section_header">
            내 정보
        </div>
        <div class="main-content-style">
            <div class="section_info">
                <div>이름</div>
                <div th:text="${user.userName}">이름 2</div>
            </div>
            <div class="section_info">
                <div>닉네임</div>
                <div th:text="${user.userNickname}">닉네임 2</div>
            </div>
            <div class="section_info">
                <div>
                    <div>이메일</div>
                    <div th:text="${user.userEmail}">이메일 2</div>
                </div>
                <button class="section_info_button">
                    수정
                </button>
            </div>
            <!--<div th:text="${user.userAddr}">다니는 유치원명 a tag로 바로 이동하게 하기</div>-->
        </div>
    </section>
    <section class="child_section">
        <!--th:if로 내 아이 정보 or 원생 정보-->
        <div class="child_section_header">
            내 아이 정보
        </div>
        <div class="main-content-style">
            <div class="section_info">
                <div>이름</div>
                <div th:text="${child.childName}">이름 2</div>
            </div>
            <div class="section_info">
                <div>주소</div>
                <div th:text="${child.childAddr}">주소 2</div>
            </div>
            <div class="section_info_double">
                <div>
                    <div>나이</div>
                    <div th:text="${child.childAge} + 살">나이 생년월일에서 뺀거 1</div>
                </div>
                <div>
                    <div>생일</div>
                    <div th:text="${child.childBirth}">생일 1</div>
                </div>
            </div>
            <div class="section_info">
                <div>유치원</div>
                <div>다니는 유치원명<!-- a tag로 바로 이동하게 하기--></div>
            </div>
            <div class="section_info">
                <div>
                    <div>알레르기</div>
                    <div th:text="${child.childAllergy}">알레르기 정보</div>
                </div>
                <button class="section_info_button">
                    수정
                </button>
            </div>
        </div>
    </section>
</div>

<!--footer 영역-->
<footer th:replace="fragments/footerFragment::footerFragment"></footer>

<!--bootstrap javascript-->

</body>
</html>