<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <title>톡톡유치원 - 자녀 정보</title>
    <th:block th:replace="fragments/metaFragment :: metadataFragment"></th:block>
</head>
<body>
<!-- Top menu 영역-->
<header th:replace="fragments/headerFragment::headerFragment"></header>
<!-- Left Sidebar 영역 -->
<!-- Main content 영역 -->

<div class="container mt-4">
    <div class="main-content-style">
        <div th:if="${existChildFlag}">
            <div th:each="child : ${childList}">
               아이 이름 : <span th:text="${child.childName}"></span>
               아이 생일 : <span th:text="${child.childBirth}"></span>
                아이유치원 : <span th:if="${child.kinderCode!=null}" th:text="${child.kinderCode}"></span>
            </div>
        </div>

        <div>
            <a th:href="@{child_register}">자녀 등록</a>
        </div>
    </div>
</div>

<!--footer 영역-->
<footer th:replace="fragments/footerFragment::footerFragment"></footer>

<!--bootstrap javascript-->

</body>
</html>