html,
body {
  width: 100%;
}

* {
  box-sizing: border-box;
}

body {
  font-size: 100%;
  font-family: var(--font-family);
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  background-color: #fefefe;
}

a {
  text-decoration: none;
  color: black;
}

header {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}
#top_nav {
  border-bottom: 1px solid lightgray;
}
#top_nav .all_wrapper {
  display: grid;
  grid-template-areas: "icon menu menu menu menu login";
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.top_nav_logo {
  grid-area: icon;
  width:100%;
}

.top_nav_navbar {
  grid-area: menu;
}

.top_nav_user {
  grid-area: login;
}

.all_wrapper {
  width: 100%;
  /*글씨 깨지는 지점 확인*/
  min-width: 1150px;
  margin: 0px auto;
  position: relative;
}

.top_nav_logo {
  width: 100%;
  text-align: center;
}

.top_nav_navbar {
  width: 100%;
}

.top_nav_navbar_menu li {
  width: 25%;
  float: left;
  font-size: 1rem;
  line-height: 75px;
  height: 75px;
  text-align: center;
  position: relative;
  font-weight: 500;
}

.top_nav_navbar_menu li {
  float: left;
  font-size: 18px;
  font-weight: bold;
}

.top_nav_navbar_menu li:first-child::before {
  content: "";
  display: block;
  line-height: 0;
  height: 10px;
  width: 1px;
  border-left: 2px dotted #cccccc;
  position: absolute;
  top: 33px;
  left: 0;
}

.top_nav_navbar_menu li::after {
  content: "";
  display: block;
  line-height: 0;
  height: 10px;
  width: 1px;
  border-right: 2px dotted #cfcfcf;
  position: absolute;
  top: 33px;
  right: 0;
}

.top_nav_navbar_menu li a{
  display: block;
  width: 100%;
  height: 100%;
}

.top_nav_navbar_menu li a:hover {
  color: var(--sub-color);
}

.top_nav_loginBox {
  display: flex;
  justify-content: space-around;
}

.top_nav_drop {
  width: 100%;
  position: absolute;
  top: 75px;
  left: 0px;
  background-color: #f8fafe;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  list-style: none;
  z-index: 1000;
  max-height: 0px;
  overflow: hidden;
  transition: max-height 0.5s; /* 애니메이션 효과 */
}

/* 요소 줄수에 따른 조절 필요 */
body header .slide_down {
  max-height: 200px;
}

/* dropmenu grid설정 */
.top_nav_drop {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(4, 1fr);
}

/* 첫줄과 마지막 그리드에 요소 안 넣으려는 발악 */
.top_nav_drop div:nth-child(1) {
  grid-column: 2;
}
.top_nav_drop div:nth-child(2) {
  grid-column: 3;
}
.top_nav_drop div:nth-child(3) {
  grid-column: 4;
}
.top_nav_drop div:nth-child(4) {
  grid-column: 5;
}

.top_nav_drop div:nth-child(5) {
  grid-column: 2;
}
.top_nav_drop div:nth-child(6) {
  grid-column: 3;
}
.top_nav_drop div:nth-child(7) {
  grid-column: 4;
}
.top_nav_drop div:nth-child(8) {
  grid-column: 5;
}

.top_nav_drop div:nth-child(9) {
  grid-column: 2;
}
.top_nav_drop div:nth-child(10) {
  grid-column: 3;
}
.top_nav_drop div:nth-child(11) {
  grid-column: 4;
}
.top_nav_drop div:nth-child(12) {
  grid-column: 5;
}

.top_nav_drop div:nth-child(13) {
  grid-column: 2;
}
.top_nav_drop div:nth-child(14) {
  grid-column: 3;
}
.top_nav_drop div:nth-child(15) {
  grid-column: 4;
}
.top_nav_drop div:nth-child(16) {
  grid-column: 5;
}

.top_nav_drop div {
  text-align: center;
}

.top_nav_drop div a {
  display: block;
  width: 100%;
  height: 100%;
  line-height: 50px;
}

.top_nav_drop div a:hover {
  color: var(--sub-color);
  text-decoration: underline;
}

.top_nav_user_box{
  position: relative;
  text-align: center;
}

.top_nav_user_box span {
  display: block;
}

.top_nav_user_info {
  position: absolute;
  width: 100%;
  left: 0;
  top: 20px;
  list-style: none;
  background: white;
  z-index: 1001;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  max-height: 0px;
  overflow: hidden;
  transition: max-height 0.5s; /* 애니메이션 효과 */
  display: flex;
  flex-direction: column;
}

.top_nav_user_info a {
  line-height: 40px
}

.top_nav_user_info a:nth-child(1) {
  margin-top: 10px
}

.top_nav_user_info a:nth-child(2) {
  margin-bottom: 10px
}

.top_nav_user .top_nav_user_box .slide_down {
  max-height: 120px;
}

.top_nav_user_info a{
  display: block;
  width: 100%;
  height: 100%;
}

.top_nav_user_info a:hover {
  color: var(--sub-color);
  text-decoration: underline;
}

/*중간 컨테이너 크기 최소값 지정*/
.main_container {
    min-height: var(--max-content-height);
}

.logo-img{
  object-fit: contain;
}
