<html xmlns:th="http://www.thymeleaf.org" lang="ko">
  <!-- 부트스트랩 CSS -->
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@800&display=swap"
    rel="stylesheet"
  />

  <style>
    * {
      font-family: var(--font-family-noto-sans-kr);
    }
  </style>
  <header th:fragment="headerFragment">
    <!-- 네비게이션 바 -->
    <nav id="top_nav">
      <div class="all_wrapper">
        <div class="top_nav_logo">
          <a th:href="@{/}">
            <img
              src="/talktalkkinder/img/logo/TalkTalkLogo_75_2.png"
              alt="로고"
              class="d-inline-block align-text-top logo-img"
            />
          </a>
        </div>
        <!-- 햄버거 메뉴 (모바일용) -->
        <!-- <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarNav"
            aria-controls="navbarNav"
            aria-expanded="false"
            aria-label="Toggle navigation"
            >
            <span class="navbar-toggler-icon"></span>
            </button> -->

        <div class="top_nav_navbar">
          <h1 hidden>카테고리</h1>
          <ul class="top_nav_navbar_menu">
            <li><a th:href="@{/finderMain}">유치원 파인더</a></li>
            <li><a th:href="@{/board/main(category=ALL)}">톡톡게시판</a></li>
            <li><a th:href="@{/children}">아이 페이지</a></li>
            <li>
              <a th:href="@{/kinderMain}">마이 유치원</a>
            </li>
          </ul>
        </div>

        <!-- 로그인/회원가입 버튼 -->
        <div class="top_nav_user">
          <!-- 로그인 된 경우 닉네임과 드롭다운 메뉴 표시 -->
          <div class="top_nav_user_box" th:if="${session.userLoginDTO != null}">
            <span
              style="color: #000"
              th:text="(${session.userLoginDTO.getUserNickname()})+'님 환영합니다!'"
            ></span>
            <div class="top_nav_user_info">
              <a th:href="@{/editProfileConfirmPassword}">회원정보 수정</a>
              <a th:href="@{/logout}">로그아웃</a>
            </div>
          </div>

          <!-- 비로그인 상태일 때 로그인/회원가입 버튼 표시 -->
          <div class="top_nav_loginBox" th:if="${session.userLoginDTO == null}">
            <a th:href="@{/login}">로그인</a>
            <a th:href="@{/roleSelect}">회원가입</a>
          </div>

          <!--<ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userMenu">
                    <li><a class="dropdown-item" href="#">로그인</a></li>
                    <li><a class="dropdown-item" href="#">회원가입</a></li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li><a class="dropdown-item" href="#">내 정보</a></li>
                    <li><a class="dropdown-item" href="#">로그아웃</a></li>
                </ul>-->
        </div>
      </div>
    </nav>

    <!-- 드롭다운 그리드 형식의 메뉴 -->
    <h2 hidden>세부메뉴</h2>
    <div class="top_nav_drop">
      <div hidden>
        <a href="#">유치원파인더</a>
      </div>
      <div>
        <a th:href="@{/board/main(category=ALL)}">전체 게시판</a>
      </div>
      <div>
        <a th:if="${session.userLoginDTO==null}" th:href="@{/child_info_pre}"
          >자녀 정보</a
        >
        <a
          th:if="${session.userLoginDTO!=null and session.userLoginDTO.userKind==1}"
          th:href="@{/child_info_pre}"
          >자녀 정보</a
        >
        <a
          th:if="${session.userLoginDTO!=null and session.userLoginDTO.userKind==0}"
          th:href="@{/child_info_pre}"
          >원생 정보</a
        >
      </div>
      <div hidden>
        <a href="#">자료실</a>
      </div>
      <div hidden>
        <a href="#">유치원 비교</a>
      </div>
      <div>
        <a th:href="@{/board/main(category=FREE)}">자유게시판</a>
      </div>
      <div
        th:if="${session.userLoginDTO!=null&&session.userLoginDTO.userKind==1}? 'hidden' : ''"
      >
        <a th:href="@{/child_register}">자녀 등록</a>
      </div>
      <div hidden>
        <a href="#">공시자료 다운로드</a>
      </div>
      <div hidden>
        <a href="#">관련법령</a>
      </div>
      <div>
        <a th:href="@{/board/main(category=QNA)}">질문 게시판</a>
      </div>
      <div hidden>
        <a href="#">오류 및 허위정보 신고</a>
      </div>
      <div hidden>
        <a href="#">OPEN API</a>
      </div>
      <div hidden>
        <a href="#">홍보자료</a>
      </div>
      <div>
        <a th:href="@{/board/main(category=BABY)}">우리아이 게시판</a>
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
  </header>
</html>
