<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>유치원헤더</title>
</head>
<body>
    
    <header th:fragment="kinderHeader">
        <nav class="navbar navbar-expand-lg navbar-dark bg-subtle text-black" aria-label="Ninth navbar example">
            <div class="container-xl">
                <a class="navbar-brand" href="#">유치원 이름</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarsExample07XL" aria-controls="navbarsExample07XL" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
    
                <div class="collapse navbar-collapse content-center" id="navbarsExample07XL">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown"
                                aria-expanded="false">우리원 소개</a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">인사말</a></li>
                                <li><a class="dropdown-item" href="#">선생님 소개</a></li>
                                <li><a class="dropdown-item" href="#">유치원 전경</a></li>
                                <li><a class="dropdown-item" href="">공지사항</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown"
                               aria-expanded="true">알림장</a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">햇님반</a></li>
                                <li><a class="dropdown-item" href="#">달님반</a></li>
                                <li><a class="dropdown-item" href="#">별님반</a></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" th:href="@{/kinderLessonPaln}">월간일정표</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" th:href="@{/kinderMeal}">식단표</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">소통공간</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">사진 앨범</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown"
                                aria-expanded="false">Dropdown</a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">Action</a></li>
                                <li><a class="dropdown-item" href="#">Another action</a></li>
                                <li><a class="dropdown-item" href="#">Something else here</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
            <div style="align-content:end">
                <a style="text-align:right" th:href="@{/}">시작 페이지로</a>
            </div>
        </nav>


    </header>


</body>
</html>